@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
}

.main-container-parent {
  @apply w-full flex justify-center;
}

.main-container-child {
  @apply w-full max-w-[1400px] px-5;
}

.card-hover-zoom:hover {
  transform: scale(1.1);
}

.card-hover-zoom {
  transition: transform 0.5s, filter 1.5s ease-in-out;
}
